img {
    max-width: 100%;
}

body {
    color: #878787;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.main-head {
    background-color: #000;
    height: 980px;
    background-image: url('../images/bear.jpg');
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

h1 {
    display: none;
    margin-top: 100px;
    font-size: 5.625rem; /* 90px/16px  */
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
}

.arrow {
    display: none;
    width: 80px;
    margin-top: 300px;
}

.intro {
  font-size: 1.25em; /* 20px/16px */
  line-height: 1.6;  
}

.title {
    display: none;
    color: white;
    font-size: 1.625rem; /* 26px/16px */
}

.first-content {
    padding-top: 25px;
    padding-bottom: 95px;
    text-align: center;
    width: 75%;
    max-width: 1200px;
    padding: 0 50px;
    margin: auto;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 10px solid #f2b26a;
  text-align: center;
}


.content {
  color: white;
  background-color: #434a52;
  padding: 18% 24%;
  border-top: 10px solid #f2b26a;
  margin: 105px 0 60px;
  transition: background-color 1.3s ease;
  border-radius: 20px;
}
.content2 {
  color: white;
  background-color: #434a52;
  padding: 18% 24%;
  border-top: 10px solid #f2b26a;
  margin: 105px 0 60px;
  transition: background-color 1.3s ease;
  border-radius: 20px;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: green;
    font-size: 30px;
}


.active {
    background-color:#E8E8E8;
    transition: background-color 1.3s ease;
    border-radius: 20px;
    color: #B3B3B3;
    border-top: 10px solid #434a52;
}

.active2 {
    opacity: 0.5;
    transition: background-color 1.3s ease;
}

#button {
	-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
	border-bottom-color:#333;
	border:1px solid #757877;
	background-color:#757877;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	color:#fff;
	font-family:'Verdana';
	font-size:14px;
	text-shadow:#fff 0 1px 0;
	padding:5px
}

.copy {
    font-size: 1em;
}

/* FOLLOWING CODE FOR RESPONSIVITY */

@media (max-width: 800px) {
    h1 {
        font-size: 30px;
       }
    
    .title {
        font-size: 20px;
    }
  
    
    
}


@media (max-width: 650px) {
    h1 {
        font-size: 30px;
       }
    .title {
        font-size: 20px;
    }
    
    
}


@media (max-width: 450px) {
     h1 {
        font-size: 15px;
        color: grey;
       }
     .title {
        font-size: 10px;
    }
    .main-head {
    background-color: #000;
    height: 980px;
    background-image: url('../images/photo-1418065460487-3e41a6c84dc5.jpg');
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    }
    .title {
    display: none;
    color: grey;
    font-size: 1.625rem; /* 26px/16px */
    }
}
