

.jumbotron {
    background-color: #E0F5FF;
}

.panel-footer {
    background-color: #E0F5FF;
}

.thumbnail {
    background-color: #E0F5FF;
}

#jensenbild {
    height: 100px;
    margin-left: 60px;
}

#hjalp {
    float: right;
}

#loginbild {
}