body {
    background: #85A898;
    font-family: sans-serif;
}

.active {
  background-image: url(badger1.png);
}

.unactive
{
  background-image: url(grass1.png);
}

td
{
  width: 50px;
  height: 50px;
}

#startButton {
    margin: 5px;
}

h1 {
    font-family: fantasy;
    font-size: 70px;
}

p {
    font-family:serif;
    font-size: 20px;
}

table {
    border-spacing: 0px;
}

#newPlayer {
    margin-top: 10px;
}

table {cursor:crosshair}
